@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Overpass', sans-serif;
}/* App.css */
.bottom-left-container {
  position: fixed; /* Fixed position */
  left: 20px; /* Left margin from the viewport */
  bottom: 20px; /* Bottom margin from the viewport */
  display: flex; /* Use flexbox */
  flex-direction: row; /* Arrange children in a row */
  align-items: flex-start; /* Align items at the start of the flex container */
  gap: 10px; /* Space between the children */
  z-index: 1000; /* High z-index to stay on top */
}
.legend-container, .info-panel {
  pointer-events: auto; /* Enable pointer events if needed */
  background-color: rgba(39, 48, 55, 0.8);
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Overpass', sans-serif;
  border: 1px solid #2E3E4D;
  height: 205px; /* Optional: Limit the maximum height */
  overflow-y: auto; /* Optional: Add scrolling to y-axis if content overflows */
}

.legend-header {
  font-size: 1.5em;
  font-family: 'Overpass', sans-serif;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 10px;
}

.legend-list {
  list-style-type: none;
  padding: 0;
}

.legend-item {
  margin-bottom: 5px;
}

.legend-color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.info-container {
  display: flex;
  height: 100vh;
}

.visualization {
  flex: 1;
  width: 75%;  /* Adjust the width as needed */
}

.info-header {
  
  font-size: 1.5em;
  font-family: 'Overpass', sans-serif;
  color: #ffffff;

}
.legend-header h4 {
  margin-top: 0;
}
.info-panel h4 {
  margin-top: 5px;
  margin-bottom: 10px;
}
.overpass-font {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.overlay-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.overlay-header {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 5px;
  padding-left: 20px;
  z-index: 1000;
  font-size: 30px;
  color: white;
}

/* App.css */

.description-panel {
  position: fixed;
  top: 20px;
  right: -350px; /* Adjust width and hidden state position */
  width: 300px;
  height: 95vh;
  background-color: rgba(39, 48, 55, 0.8);; /* Consistent with other panels */
  border: 1px solid #2E3E4D;
  transition: right 0.3s ease;
  z-index: 1500;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px; /* Rounded corners */
  color: white;
}

.description-panel.open {
  right: 20px; /* Adjust if necessary based on the panel's width */
}

.arrow-toggle {
  position: fixed;
  top: 50%;
  right: 0px; /* Align with the edge of the panel when closed */
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1601; /* Ensure it's above the panel */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: right 0.3s ease;
}

.description-panel.open + .arrow-toggle {
  right: 320px; /* Adjust this based on the panel's width */
}

.arrow-toggle {
  background-image: url('arrow-right.svg');
}

.description-panel.open + .arrow-toggle {
  background-image: url('arrow-left.svg');
}
.overlay-subtitle {
  font-size: medium;
  font-weight: 300;
  margin-top: -30px;
}
